@page "/Stores/Delete/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavHelper

<h3>Delete Store</h3>
<p>
    <div class=""></div>
    <a href="/Stores">
        <i class="bi bi-arrow-left-circle"></i>
        Back to List
    </a>
</p>
<hr />
<p>Do you want to delete this item?</p>
<div class="col-md-5">
    <div class="mb-3">
        <div class="mb-3">
            <label> Id: </label>
            <span> @invStore.Id </span>
        </div>
        <div class="mb-3">
            <label> Description: </label>
            <span> @invStore.StoreName </span>
        </div>
    </div>
    <div class="mb-3">
        <a href="/Stores" class="btn btn-light"> Cancel </a>
        <input type="submit" value="Delete" @onclick=OnDeleteSubmit class="btn btn-danger" />
    </div>
</div>


@code {
        [Parameter]
        public int id { get; set; }

        InvStore invStore = new InvStore();

    //On page Initialize
    protected override async Task OnInitializedAsync()
    {
        await GetInvItem();
    }


    //Get item details
    private async Task GetInvItem()
    {
        invStore = await Http.GetFromJsonAsync<InvStore>($"api/InvStores/{id}");
    }


    private async Task OnDeleteSubmit()
    {
        var res = await Http.DeleteAsync($"api/InvStores/{id}");

        if (res.IsSuccessStatusCode) {
            NavHelper.NavigateTo("/Stores");
        }
    }


}

