@page "/Stores/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

@inject HttpClient Http
@inject NavigationManager NavHelper


<h3>Edit Store</h3>
<p>Id : @id  </p>

@if (currentStore == null)
{
    <p><em>Loading...</em></p>
}
else
    {
    <EditForm Model="@currentStore" OnSubmit=@ValidFormSubmitted>

        <div class="mb-3">
            <label> StoreName </label>
             <InputText @bind="@currentStore.StoreName" id="StoreName"/>
        </div>

        <div class="mb-3"> 
            <p>
                <button class="btn btn-primary">Submit</button>
            </p>
        </div>

    </EditForm>
}


@code {
    [Parameter]
    public int id { get; set; }

    private InvStore currentStore;
    public string storename;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentStore = await Http.GetFromJsonAsync<InvStore>("api/InvStores/" + this.id);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }


    private async Task ValidFormSubmitted(EditContext editContext)
    {
        HttpResponseMessage res;
        res = await Http.PutAsJsonAsync("api/InvStores/" + this.id, currentStore);

        Console.WriteLine("Submit Code:" + res.StatusCode);

        if (res.IsSuccessStatusCode)
            NavHelper.NavigateTo("/StoreList");

        return;
    }
}
