@page "/StoreList"
@attribute [Authorize]
@inject HttpClient Http


<h3>InvStores</h3>

@if (stores == null)
{
    <div class="spinner-border" role="status">
        @*<span class="visually-hidden">Loading...</span>*@
    </div>
}
else
{
    <p><a href="/StoreAdd">Add New Store</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Store</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in stores)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.StoreName</td>
                    <td><a href="/StoreEdit/@forecast.Id">Edit</a></td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private InvStore[] stores;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            stores = await Http.GetFromJsonAsync<InvStore[]>("api/InvStores");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
